<div class="jumbotron jumbotron-fluid" style="color:blue">
    <img src="/assets/Igreja_do_Evangelho_Quadrangular.jpg" height="164px" width="164px">
    <div class="container">
      <h1 class="display-4">IEQ VILA MARA</h1>
      <p class="lead">Site oficial da Igreja do Vila Mara</p>
    </div>
  </div>
<!--Pagination-->
<div class="container main-container">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/multiplataforma.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Multiplataforma</h4>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primay">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/performance.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Performance</h4>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primay">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Produtividade</h4>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primay">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/funcionalidade.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Funcionalidades</h4>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primay">Saiba mais</a>
                </div>
            </div>
        </div>
      </div>
  </div>